.test1 {
  border-radius: 9px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 0px 30px 0px 30px;
}
.test1:hover {
  background-color: green;
}
.test2 {
  background-color: #4863a0;
  border-radius: 8px;
}

.test3 {
  background-color: teal;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  margin-left: 5px;
}
.test3:hover {
  background-color: green;
  color: black;
}
.test4 {
  border-radius: 9px;
  color: aliceblue;
  margin-right: 10px;
}

.test5 {
  border-radius: 5px;
}
